.custom-flow-node{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;

  .node-header{
    display: flex;
    align-items: center;
    gap: 5px;
    .node-icon{
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background: #296dff;
      text-align: center;
      line-height: 24px;
      i{
        font-size: 18px;
        color: #fff;
      }
    }
    .node-name{
      font-size: 12px;
      font-weight: bold;
    }
  }
  .node-body{
    margin-top: 10px;
    .props-item{
      padding: 6px 2px;
      background: #cccccc;
    }
  }
}
.custom-flow-node:hover{
  border: 1px solid #296dff;
}
.custom-flow-node.active{
  border: 1px solid #296dff;
}
.node-handle{
  top: 30px;
  height: 10px !important;
  border: 0;
  width: 3px !important;
  border-radius: 0px;
  background: #296dff;
}

.node-handle-right:hover{
  height: 14px !important;
  border: 0;
  width: 14px !important;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(98, 74, 255, .1);
}
.node-handle-right:hover::after{
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
}
.vue-flow__handle{
  min-width: 1px;
  min-height: 1px;
}
.options-container{
  .option-item{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border: 1px solid #e7e8ee;
    border-radius: 5px;
    padding: 5px 6px;
  }
  .option-item:hover{
    box-shadow: 0 1px 5px #d8d9e6;
  }
}
